* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #6B7F8D;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

a.logo {
    height: 12px;
    width: 100px;
    color: inherit;
}

header a {
    color: inherit;
}

header nav a {
    text-decoration: none;
    padding: 5px 10px;
}

header nav.center__desktop {
    text-align: center;
}

header nav.navigation__right {
    text-align: right;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1 {
    font-size: 3rem;
}

section a {
    color: inherit;
}

section .buttons a {
    display: block;
    background-color: #6B7F8D;
    color: #333333;
    padding: 12px 85px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
   
section .buttons a:first-child {
    background-color: #6B7F8D;
    color: #DADADA;
}

section .buttons a:nth-child(2) {
    background-color: rgba(255,255,255,50);
}

section .buttons {
    display: grid;
    row-gap: 20px;
    margin: 0 40px;
}

@media (min-width: 600px) {
    section .buttons {
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

    }
}