* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    color:#333333;
    font-family: 'Figtree', Helvetica, sans-serif;
}

.desktop {
    display: none;
}

@media (min-width: 1200px) {
    .desktop {
        display: initial;
    }
}

header {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: 5px 20px;
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
}

a.logo {
    height: 12px;
    width: 100px;
    color: inherit;
}

header a {
    color: inherit;
}

header nav a {
    text-decoration: none;
    padding: 5px 10px;
}

header nav.center__desktop {
    text-align: center;
}

header nav.navigation__right {
    text-align: right;
}

section {
    height: 100vh;
    background-size: cover;
    background-position: center center;
}

section .content {
    width: 100%;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
    text-align: center;
    display: grid;
    grid-template-rows: min-content auto min-content;
}

section h1 {
    font-size: 4rem;
    
}

section a {
    color: inherit;
}

section .buttons a {
    display: block;
    background-color: #6B7F8D;
    color: #333333;
    padding: 12px 85px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
}
   
section .buttons a:first-child {
    background-color: #6B7F8D;
    color: #DADADA;
}

section .buttons a:nth-child(2) {
    background-color: rgba(255,255,255,50);
}

section .buttons {
    display: grid;
    row-gap: 20px;
    margin: 0 40px;
}

@media (min-width: 600px) {
    section .buttons {
        max-width: 640px;
        margin: 0 auto;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;

    }
}


/* ------- aside --------  */

aside {
    position: fixed;
    right: 0;
    transition: right .4s ease;
    right: -310px; 
    width: 310px;
    background-color: #DADADA;
    padding: 100px 40px;
    z-index: 4;
    height: 100vh;
}

/* aside.active {
    right: 0;
} */

aside a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 9px 0;
    font-size: 16px;
    font-weight: 500;
}

aside .close__btn {
    font-size: 25px;
    border: 0;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 20px;
    font-family: sans-serif;
    font-weight: 100;
    cursor: pointer;
}

.backdrop {
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba(218, 218, 218, 0.35);
    backdrop-filter: blur(5px);
}

.backdrop.active {
    display: block;
}

/* ---------------- custom -------------  */

#custom {
    padding: 50px;
}

.custom-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.custom {
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.custom img {
    width: 100%;
    border-radius: 5px;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgb(255, 255, 255, 0.5),rgb(218, 218, 218));
    border-radius: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;

}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: inherit;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.custom:hover img {
    transform: scale(1.1);
}

.custom:hover .layer {
    height: 100%;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #6B7F8D;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: inherit;
    transition: background 0.8s; 
    
}

.btn:hover {
    background:#DADADA;
}


